{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-md-6" style="margin-left: 25%;margin-right: 25%;">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Modification de mot de passe
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">


                        <div class="form-panel">

                            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}


                            {{ form_widget(form) }}
                            <br>
                            <center>
                            <div>
                            <button type="submit" class="btn btn-primary">valider</button>
                                
                            </div></center>
                            {{ form_end(form) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
{% endblock %}